<div class="logo">
    <img src="/img/logo.png" width="250px" alt="logo">
    <div style="float: right;">
       <a href="/users/login" style="color: rgb(216, 222, 222);">Admin</a>
    </div>
  </div>

  <div class="menu" id="mymenu">
    <div id="alar">
      <a href="/">Anasayfa</a>
      <a href="/about">Hakkımızda</a>
      <a href="/hizmetler">Hizmetlerimiz</a>
      <a href="/sorucevap">Soru/Cevap</a>
      <a href="/blog">Blog</a>
      <a href="/iletisim">İletişim/Ulaşım</a>
    
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
