<div id="hakkımızda">
      <div class="baslik">
          <span class="hakkimizda" style="color: tomato; font-family: cursive; font-style: italic;"><strong> Hakkımızda</strong></span>
          <hr/>
      </div>
      <div id="yazi" style="font-size:110% ; background-color: aliceblue;" >
     <p class="p"><strong>Ankara Veteriner</strong> olarak Mia Care Ekibi iki ana kural üzerine kurulmuştur; hayvan sağlığı ve hayvan refahı. 2016 yılından beri Ankara Yenimahalle’de “bembeyaz bir klinik hayal edin” düşüncesi ile çalışmaktayız. Veteriner Hekim Sevgi DORUK ve çalışma arkadaşları <strong>7/24 acil veteriner</strong> hizmet verebilmek için büyük biz özveri ile çalışmaktadır.</p>
     <p class="p">Unutulmamalıdır ki veteriner olmak sadece hayvanları sağlığına kavuşturmak değildir. Biz bu yolda küçük dostlarımız ve sizler için huzurlu bir aile ortamı oluşturmayı hedefledik. İster evinizden isterseniz kliniğimize gelerek aklınıza takılan her şeyi sorabilirsiniz.<strong>Ankara Veteriner Kliniği</strong>, Mia Care ailesi olarak bilmenizi isteriz ki biz size değil küçük dostumuza hizmet ediyoruz.</p>
     <p class="p">Tüm bunların yanında sahipsiz yaşayan dostlarımız da bizimdir, bu dünyanındır. Bizim en kıymetli varlığımız doğamızın bir parçasıdır onlar. Bu sebeple biz de onlara yardımcı olmak isteyenlere ciddi oranlarda fiyat indirimleri yapmaktayız. <u>Unutmayın sokak hayvanı yoktur! Sahipsiz hayvan vardır. Sahipsiz hayvanlar hepimizindir ve herkesin üzerine düşen sorumluluğu yerine getirmelidir.</u> <mark style="background-color: rgb(255, 176, 145);">Sevmek zorunda değilsin, ama eziyet edemezsin!</mark></p>
     <p style="text-align: center;"><i><Strong>Aşıda, mamada görüşmek dileğiyle, mutlu ve sağlıklı günler.. </i></Strong></p>
  </div>
  </div>
  
    <div class="baslik">
        <span class="hakkimizda" style="color: tomato; font-family: cursive; font-style: italic; font-size: 30px;"><strong>Ekibimiz :)</strong></span>
        <hr/>
    </div>

    <div class="ekip">
        <img src="https://dorukgiller.com/uploads/about_us/15380603931-ekip-sevgi-doruk.png " width="300px" alt="Sevgi Doruk Demirci">
        <p style=" font-style: italic ;"><strong>Sevgi Doruk Demirci<br>
        VETERİNER HEKİM</strong> </p>
    </div>
    <div class="ekip">
        <img src="https://dorukgiller.com/uploads/about_us/15380607441-ekip-doruk-demirci.png" width="300px"  alt="Doruk Demirci">
        <p style="font-style: italic; "><strong>Doruk Demirci<br>
        VETERİNER HEKİM - YÖNETİCİ</strong></p>
    </div>
    <div class="ekip">
        <img src="https://dorukgiller.com/uploads/about_us/1538061025ekip-paspas.png" width="300px"  alt="Paspas">
        <p style="font-style: italic; "><strong>Paspas<br>
        İlk göz ağrımız :)</strong></p>
    </div>
    <div class="ekip">
        <img src="https://dorukgiller.com/uploads/about_us/1538061071ekip-baattin.png" width="300px"  alt="Battin">
        <p style="font-style: italic;"><strong>Battin<br>
        Klinik Süpürgesi</strong></p>
    </div>
    <div class="ekip">
        <img src="https://dorukgiller.com/uploads/about_us/1538061153ekip-yakup.png" width="300px"  alt="yakup">
        <p style="font-style: italic;"><strong>Yakup<br>
        IPHONE YAKUP :)</strong></p>
    </div>
