      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9" style="margin-top:50px ;">
                
                    <hr>
                    <div class="tittle-img">
                        <img
                            src="/img/piqsels.com-id-jlmbh.jpg">
                            <hr>
                    </div>
              <div class="tittle">
              <h1>{{blog.title}}</h1>
              </div>
                <div class="icerik">
                    <hr>
                    <p>{{blog.tall}}</p>
                    <hr>
                </div>


            </div>

            <div class="col-lg-3">
                <div class="tittle">
                    <hr>
                    <h5 style="font-style: italic; color: #0dabd6; ">
                        ● Son Blog
                    </h5>
                    <hr>
                </div>

                <div id="sag">
                    <div class="card1" style="width: 18rem; margin: 50px 0px; border: dotted 1px #014cd8">
                        <a href="/blog" class="link"><img class="card-img-top"
                                src="https://dorukgiller.com/uploads/news/thumb/covid-19-kedi-kopege-bulasiyor-mu-1585999711.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="/blog" class="link">
                                <h5 class="card-title">COVID-10 Korona virüsü ve kedi köpekler</h5>
                            </a>
                        </div>
                    </div>

                    <div class="card1" style="width: 18rem; margin: 50px 0px; border: dotted 1px #014cd8">
                        <a href="/blog" class="link"><img class="card-img-top"
                                src="https://dorukgiller.com/uploads/news/thumb/kedimin-kopegimin-bacagi-kirildi-ne-yapmaliyim-acil-1567742105.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="/blog"class="link">
                                <h5 class="card-title">Kedimin, Köpeğimin bacağı kırıldı ne yapmalıyım? ACİL</h5>
                            </a>
                        </div>
                    </div>

                    <div class="card1" style="width: 18rem; margin: 50px 0px; border: dotted 1px #014cd8; ">
                        <a href="/blog" class="link"><img class="card-img-top"
                                src="https://dorukgiller.com/uploads/news/thumb/kediler-neden-kusar-kusmali-midir-10-soruda-cevapladik-1553402927.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="/blog" class="link">
                                <h5 class="card-title">Kediler neden kusar? Kusmalı mıdır? 10 Soruda cevapladık</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
