 <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="tittle" style="margin-top:50px ;">
                    <hr>
                    <h1>{{hizmetler.title}}</h1>
                    <hr>
                    <div class="tittle-img">
                        <img
                            src="https://dorukgiller.com/uploads/services/1537273769genel-muayene-ankara-veteriner.png">
                    </div>
                </div>
                <div class="icerik">
                    <hr>
                    <p>{{hizmetler.contenttall}}</p>
                    <hr>
                </div>
                <div style="font-style: italic; color: rgb(252, 172, 52); ">
                    <h4>Diğer Hizmetlerimiz</h4>

                </div>
                <hr>
                <div id="endış-solalt" style="margin-left:30px ;">
                    <div class="group-resim">
                        <div class="card11" style="width: 18rem;">
                            <a href="/hizmetler"><img class="yuvarla"
                                    src="/img/muayene.jpg"
                                    alt="Card image cap"></a>
                            <div class="card-body">
                                <p class="card-text">Muayene</p>
                            </div>
                        </div>
                        <div class="card11" style="width: 18rem;">
                            <a href="/hizmetler"><img class="yuvarla"
                                src="/img/asi.jpg" alt="Card image cap"></a> 
                            <div class="card-body">
                                <p class="card-text">Aşı Uygulaması</p>
                            </div>
                        </div>
                        <div class="card11" style="width: 18rem;">
                            <a href="/hizmetler"> <img class="yuvarla"
                                src="/img/cerrahi.jpg" alt="Card image cap"></a>
                            <div class="card-body">
                                <p class="card-text">Cerrahi Operasyonlar</p>
                            </div>
                        </div>
                    </div>

                    <div class="group1-resim">

                        <div class="card22" style="width: 18rem;">
                            <a href="/hizmetler"> <img class="yuvarla"
                                src="/img/lab.jpg" alt="Card image cap"></a>
                            <div class="card-body">
                                <p class="card-text">Laboratuvar</p>
                            </div>
                        </div>

                        <div class="card22" style="width: 18rem;">
                            <a href="/hizmetler"> <img class="yuvarla"
                                src="/img/cerrahi.jpg" alt="Card image cap"></a>
                            <div class="card-body">
                                <p class="card-text">Görüntüleme ve Röntgen</p>
                            </div>
                        </div>

                        <div class="card22" style="width: 18rem;">
                            <a href="/hizmetler"><img class="yuvarla"
                                src="/img/muayene.jpg"
                                alt="Card image cap"></a> 
                            <div class="card-body">
                                <p class="card-text">Mikroçip Uygulaması</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="tittle">
                    <hr>
                    <h5 style="font-style: italic; color: #0dabd6; ">
                        ● Son Blog
                    </h5>
                    <hr>
                </div>

                <div id="sag">
                    <div class="card1" style="width: 18rem; margin: 50px 0px; border: dotted 1px #014cd8">
                        <a href="/blog" class="link"><img class="card-img-top"
                                src="https://dorukgiller.com/uploads/news/thumb/covid-19-kedi-kopege-bulasiyor-mu-1585999711.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="/blog" class="link">
                                <h5 class="card-title">COVID-10 Korona virüsü ve kedi köpekler</h5>
                            </a>
                        </div>
                    </div>

                    <div class="card1" style="width: 18rem; margin: 50px 0px; border: dotted 1px #014cd8">
                        <a href="/blog" class="link"><img class="card-img-top"
                                src="https://dorukgiller.com/uploads/news/thumb/kedimin-kopegimin-bacagi-kirildi-ne-yapmaliyim-acil-1567742105.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="/blog" class="link">
                                <h5 class="card-title">Kedimin, Köpeğimin bacağı kırıldı ne yapmalıyım? ACİL</h5>
                            </a>
                        </div>
                    </div>

                    <div class="card1" style="width: 18rem; margin: 50px 0px; border: dotted 1px #014cd8; ">
                        <a href="/blog" class="link"><img class="card-img-top"
                                src="https://dorukgiller.com/uploads/news/thumb/kediler-neden-kusar-kusmali-midir-10-soruda-cevapladik-1553402927.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="/blog" class="link">
                                <h5 class="card-title">Kediler neden kusar? Kusmalı mıdır? 10 Soruda cevapladık</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
